@import "../vendor/bulma/sass/utilities/initial-variables";
@import "../vendor/bulma/sass/utilities/functions";

// Set variables here:

$box-radius: 0;
$box-background-color: $white-bis;

$menu-item-color: $grey-light;
$menu-item-radius: 0;
$menu-item-hover-color: $grey-light;
$menu-item-hover-background-color: $grey-dark;
$menu-item-active-color: $grey-light;
$menu-item-active-background-color: $grey-dark;

// Done setting variable

@import "../vendor/bulma/bulma";

body {
    min-height: 100vh;
    background: $grey-lighter;
}

#admin-page {
    background: $black-ter;
}

#content-wrapper {
    min-height: 100vh;
    background: $grey-lighter;
    margin-left: -.75rem;
}

aside.menu a {
    outline: 0;
}

svg rect {
    stroke: #6baed6;
    stroke-width: .5;
}
