body {
    background-color: #f8f9fa;
}

a.view-details {
    text-decoration: none;
}

.navbar {
    margin: auto -1rem;
}

.nav .nav-link {
    margin-right: -1rem;
}

.nav .nav-link.active, .nav .nav-link:hover {
    background-color: #eeeeee;
    outline: 0;
}

#content-wrapper {
    background-color: #ffffff;
    min-height: 100vh;
}
